extends baseEmail

block content
  p Hi #{firstName},

    p Forgot your password? Copy your password reset token (valid for 10 minutes): #{resetToken}
    p Paste it into a password reset form.
    //- p (Website for this action)                   
    p If you didn't forget your password, please ignore this message.